<section>
    <div id="chatSection">
        <div id="chatHeader">
            <h4>
                <img src="../../../../../assets/ipf/icons/chat.png" width="36" alt="">
                <span class="ml-2">Chat</span>
            </h4>
            <button id="closeChatBtn" type="button" (click)="closeChat()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="chatbox" #scroller [scrollTop]="scroller.scrollHeight">
            <ul id="userChat">
                <ng-container *ngFor="let chat of messageList; let i = index">
                    <li id="userChatList">
                        <div id="userData" *ngIf="chat.user_name === user_name">
                            <div id="u_circle"></div>
                            <div id="u_chat_msg">
                                <div id="u_name">                                
                                    You
                                </div>
                                <div id="u_Msg">
                                    <p>{{chat.chat_data}}</p>
                                </div>
                            </div>
                        </div>
                        <div id="userData" *ngIf="chat.user_name !== user_name">
                            <div id="u_circle_img"><img src="../../../../../assets/ipf/icons/ipa.png" width="45" style="border-radius: 50%;" alt=""></div>
                            <div id="u_chat_msg">
                                <div id="u_name">                                
                                    {{chat.user_name}}
                                </div>
                                <div id="u_Msg">
                                    <p>{{chat.chat_data}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div id="inputText">
            <input type="text" [formControl]="textMessage" (keyup.enter)="postMessage(textMessage.value)">
            <button (click)="postMessage(textMessage.value)">SEND</button>
        </div>
    </div>
</section>