section{
    position: relative;
    width: 100%;
    height: 100%;
    #chatSection{
        position: fixed;
        bottom: 90px;
        right: 15px;
        background: white;
        border-radius: 20px;
        width: 320px;
        border: 2px solid #1b5c88e0;
        #chatHeader{
            padding: 10px 0 5px 0;
            background: #1b5c88e0;
            color: white;
            position: relative;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            user-select: none;
            h4{
                margin-left: 50px;
            }
            #closeChatBtn{
                position: absolute;
                top: 5px;
                right: 5px;
                background: #326f96;
                outline: none;
                border: none;
                color: white;
                padding: 5px;
                font-size: 20px;
            }
        }
        #chatbox{
            margin: 10px 5px;
            min-height: 275px;
            max-height: 300px;
            overflow-y: auto;
            #userChat{
                padding: 5px;
                list-style-type: none;
                #userChatList{
                    position: relative;
                    width: 100%;
                    #userData{
                        margin: 10px 0;
                        border-bottom: 2px solid #1b5c88e0;
                        padding: 0 0 5px 0;
                        #u_circle{
                            width: 45px;
                            height: 45px;
                            background: #1b5c88e0;
                            border-radius: 50%;
                            float: left;
                        }
                        #u_circle_img{
                            border-radius: 50%;
                            float: left;
                            background:white; 
                            img{
                                border: 2px solid #1b5c88e0;
                            } 
                        }
                        #u_chat_msg{
                            margin-left: 50px;
                            color: #1b5c88e0;
                            #u_name{
                                font-weight: 600;
                            }
                            #u_Msg{
                                p{
                                    margin-bottom: 7px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #inputText{
            margin: 15px 10px;
            input{
                outline: none;
                border: none;
                border-bottom: 2px solid #1b5c88e0;
                width: 75%;
                color: #1b5c88e0;
                font-size: 16px;
                padding: 5px;
            }
            button{
                float: right;
                outline: none;
                border: none;
                background: #1b5c88e0;
                color: white;
                padding: 3px 10px;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }    
}

@media only screen and (max-height: 560px){
    #chatSection{
        bottom: 64px !important;
    }
    #chatbox{
        min-height: 120px !important;
        max-height: 120px !important;
    }
}
