<section>
    <div id="chatSection">
        <div id="chatHeader">
            <h4>
                <img src="../../../../../assets/ipf/icons/chat.png" width="36" alt="">
                <span class="ml-2">Q&A</span>
            </h4>
            <button id="closeChatBtn" type="button" (click)="closeChat()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="chatbox" #scroller [scrollTop]="scroller.scrollHeight">
            <div style="text-align: center; color: #1b5c88e0;">
                <p>{{alertMsg}}</p>
            </div>
        </div>
        <div id="inputText">
            <input type="text" [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)">
            <button (click)="postQuestion(textMessage.value)">SEND</button>
        </div>
    </div>
</section>