<section>
    <div id="navcontent">
        <div id="navbg">
            <img id="navimg" src="assets/ipf/icons/TOP-BAND.png" alt="">
            <ul id="menuItems">
                <li *ngFor="let menu of menuItems; let i = index">
                    <div title="{{menu.name}}" id="item" [ngStyle]="{'border-right': ((i===7))?'0px solid transparent': '2px solid white'}">
                        
                        <a *ngIf="menu.datatarget" data-toggle="modal" attr.data-target="#{{menu.datatarget}}" (click)="stepup(menu.analytics)"><img src="{{menu.icon}}" alt="">
                            <div>{{menu.name | uppercase}}</div>    
                        </a>
                        <a *ngIf="menu.function" (click)="stepup(menu.analytics);showPhotobooth();"><img src="{{menu.icon}}" alt="">
                            <div>{{menu.name | uppercase}}</div>    
                        </a>
                        <a *ngIf="(!menu.datatarget)&&(!menu.function)&&(menu.path!=='/login')" routerLink="{{menu.path}}" (click)="stepup(menu.analytics)"><img src="{{menu.icon}}" alt="">
                            <div>{{menu.name | uppercase}}</div>
                        </a>
                        <a *ngIf="menu.path==='/login'" (click)="exit()"><img src="{{menu.icon}}" alt="" (click)="stepup(menu.analytics)"><div>LOGOUT</div></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div id="closePopup" (click)="closePhotobooth()">&times;</div>
        <!-- <div class="modal-header">
          <h4 class="modal-title text-white" id="photoboothModalLabel">Photobooth</h4>
          <button type="button" class="close" (click)="closePhotobooth()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body">
          <section id="section">
            <div id="content-wrap">
              <div id="background">
                <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                  <img id="camImg" src="assets/ipf/images/photobooth/selfie.png" width="100%" alt="">
                  <video #videoStream id="videobgStream" class="vid videoData" autoplay></video>
                  <div id="buttons">
                    <img src="assets/ipf/images/photobooth/click.png" width="12%" (click)="capturePhoto()" alt="">
                  </div>
                </div>
                <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                  <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                  <div id="buttons">
                    <a href="{{img}}" download="screenshot.png">
                      <img src="assets/ipf/images/photobooth/down.png" width="12%" (click)="downloadPic()" alt="">
                    </a>
                    <img src="assets/ipf/images/photobooth/re.png" width="12%" (click)="reload()" alt="">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>