section{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    #navcontent{
        position: relative;
        #navbg{
            position: relative;
            #navimg{
                width: 100%;    
                height: 50px;            
            }
            #menuItems{
                position: absolute;
                width: 100%;
                top: 5px;
                left: 0;
                justify-content: center;
                padding: 0;
                list-style: none;
                display: inline-flex;
                #item{
                    cursor: pointer;
                    width: 125px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: white;
                        user-select: none;                    
                        img{
                            transform: scale(.7);
                            transition: .3s;
                        }
                        div{
                            font-size: 8.5px;
                            font-family: sans-serif;
                        }
                    }
                }
                #item:hover{
                    a>img{
                        transform: scale(.9);
                        transition: .3s;
                    }
                }
            }
        }
    }
}
@media only screen and(max-width: 1175px){
    #item{
        // width: 9vw!important;
        // img{
        //     transform: scale(.4) !important;
        // }
    }
}

#pointer{
    position: absolute;
    top: 47%;
    left: 56.5%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  #pointer2{
    position: absolute;
    top: 47%;
    left: 25%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  #pointer3{
    position: absolute;
    top: 47%;
    left: 75%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  #wholeCam{
    #camImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #videobgStream{
        width: 100%;
    }
    
  }
  #buttons{
    text-align: center;
    justify-content: center;
    width: 100%;
    img{
        padding: 15px;
        cursor: pointer;
    }
  }
  .modal-content{
    border: 3px solid crimson;
    border-radius: 0px;
    .modal-header{
      border-radius: 0;
      margin-top: 10px;
      background: crimson;
      .close{
        color: white;
        opacity: 1;
        outline: none;
      }
    }
  }
  
  #closePopup{
    position: absolute;
    top: -16px;
    right: -16px;
    line-height: 35px;
  font-size: 38px;
    background: #e40e38;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    font-weight: 500;
    z-index: 1000;
    cursor: pointer;
  }