section{
    position: relative;
    width: 100%;
    height: 100%;
    #bg{
        background: url(../../assets/ipf/images/BG.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow-y: auto;
    }
}
.logo {
    text-align: center;
    padding-top: 5.5%;
  }
  .logo img {
    width: 32%;
    height: auto;
  }
  .logo p {
    padding-top: 2%;
    color: #008591;
  }
#loginSection{
    label{
        color: #008591;
    }
    .form-control{
        background: #ededed !important;
        border: 0px solid !important;
    }
    #submit-btn{
        text-align: center;
        button{
            background: linear-gradient(90deg, #008591 0%, #003874 50%, #008591 100%);
            color: white;
            padding: 5px 82px;
        }
    }
}