<section [ngStyle]="{'display':videoPlay? 'none': 'block'}">
    <div id="content-wrap">
      <div id="bglogin">
        <img id="loginbgimg" src="../../assets/pds/loginbg.jpg" >
        <div class="login-section-wrapper">
          
          <!-- <div class="brand-wrapper">
            <img src="assets/img/logo.png" height="50" alt="logo">
          </div> -->
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In</h1>
            <div style="background: #ec4040; color: white; text-align: center; line-height: 39px; font-weight: 600" *ngIf="msg">{{msg}}</div>
            <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
              <!-- <form [formGroup]="loginForm" #formDir="ngForm"> -->
              <!-- <div class="form-group">
                <label for="email">Email</label>
                <div placeholder="Official email id" *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                </div>
                <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="email@example.com">
              </div> -->
              <div class="form-group">
                <label for="name">Name</label>
                <div *ngIf="(loginForm.get('name').invalid && formDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)" style="color: #ec4040;font-weight:600">Name is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                  placeholder="Name" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color: #ec4040;font-weight:600">Email is required*</div>
                <input type="text" class="form-control" pattern="^\S*[@]\S*[.]\S*$" email required autocomplete="off" formControlName="email"
                  placeholder="Email">
              </div>
              <div class="form-group">
                <label for="business_vertical">Business Vertical</label>
                <div *ngIf="(loginForm.get('business_vertical').invalid && formDir.submitted) || (loginForm.get('business_vertical').dirty && loginForm.get('business_vertical').invalid)" style="color: #ec4040;font-weight:600">Business Vertical is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="business_vertical"
                  placeholder="Business Vertical">
              </div>
              <div class="form-group">
                <label for="country">Country</label>
                <div *ngIf="(loginForm.get('country').invalid && formDir.submitted) || (loginForm.get('country').dirty && loginForm.get('country').invalid)" style="color: #ec4040;font-weight:600">Country No is required*</div>
                <input type="text" class="form-control" required autocomplete="off" formControlName="country" placeholder="Country">
              </div>
              <!-- <div class="form-group mb-4">
                <label for="password">Password</label>
  
                <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                  formControlName="password">
              </div> -->
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
            </form>
            <!-- <p class="login-wrapper-footer-text">you don't have an account? <a routerLink="/signup" class="text-reset">Register</a></p> -->
          </div>
        </div>
      </div>
    </div>
</section>
  <div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
    <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="../../assets/pds/animations/loginTolobby.mp4" type="video/mp4">
    </video>
  </div>
  <div>
    <!-- <div id="potrait" *ngIf="videoPlay && potrait">
      <img src="../../assets/img/rotate.gif" alt="">
      <p>Switch to Landscape view</p>
    </div> -->
  </div>
  <!-- <main>
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-sm-12  px-0 d-none d-sm-block">
          <img src="../../assets/img/h-about.jpg" alt="login image" class="login-img">
          <div class="login-section-wrapper">
            <div class="brand-wrapper">
              <img src="assets/img/logo.png" height="50" alt="logo">
            </div>
            <div class="login-wrapper my-auto">
              <h1 class="login-title">Sign In</h1>
              <form [formGroup]="loginForm">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" formControlName="email" placeholder="email@example.com">
                </div>
                <div class="form-group mb-4">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                    formControlName="password">
                </div>
                <input name="login" id="login" class="btn btn-block login-btn" (click)="login()" type="button" value="Login">
              </form>
              <a href="#!" class="forgot-password-link">Forgot password?</a>
              <p class="login-wrapper-footer-text">you have an account? <a href="#!" class="text-reset">Signin here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main> -->