#chatopen{
    position: fixed;
    bottom: 5%;
    right: 3%;
    padding: 10px 20px;
    background: #337c8b;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
}
#chatopen::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 16px solid #337c8b;
    border-right: 24px solid transparent;
    border-top: 18px solid #337c8b;
    left: 10px;
    bottom: -16px;
    border-radius: 5px;
    border-bottom: 11px solid transparent;
    // border-left: 24px solid #337c8b;
    // border-right: 12px solid transparent;
    // border-top: 12px solid #337c8b;
    // border-bottom: 20px solid transparent;
    // left: 10px;
    // bottom: -24px;
    // border-radius: 10px;
}
#playerPoint{
    position: absolute;
    // top: 19.2%;
    // left: 21%;
    // width: 57.5%;

    top: 19.5%;
    left: 20%;
    width: 59.5%;
}


@media (max-aspect-ratio: 16/9) {
    #playerPoint{
        top: 19.5%;
    }
}