<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img id="bgImg" src="../../../assets/ipf/images/mainstage.jpg" width="100%" alt="">
            <div id="playerPoint">
                <div id="player-wrapper" class="player-container"></div>
            </div>    
        </div>
        
        <!-- <div id="chatopen" routerLink="/eventhall/chat">CHAT</div> -->
        <div id="chatopen" routerLink="/eventhall/qna">Q&A</div>
    </div>
</section>
<router-outlet></router-outlet>