#pointer{
    position: absolute;
    top: 47%;
    left: 56.5%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  #pointer2{
    position: absolute;
    top: 47%;
    left: 25%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  #pointer3{
    position: absolute;
    top: 47%;
    left: 75%;
    width: 5%;
    height: 5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  #wholeCam{
    #camImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #videobgStream{
        width: 100%;
    }
    
  }
  #buttons{
    text-align: center;
    justify-content: center;
    width: 100%;
    img{
        padding: 15px;
        cursor: pointer;
    }
  }
  .modal-content{
    border: 3px solid crimson;
    border-radius: 0px;
    .modal-header{
      border-radius: 0;
      margin-top: 10px;
      background: crimson;
      .close{
        color: white;
        opacity: 1;
        outline: none;
      }
    }
  }
  
  #closePopup{
    position: absolute;
    top: -16px;
    right: -16px;
    line-height: 35px;
  font-size: 38px;
    background: #e40e38;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    font-weight: 500;
    z-index: 1000;
    cursor: pointer;
  }