<section id="section">
    <div id="content-wrap">
      <div id="background">
        <img id="bgImg" src="assets/ipf/images/o.jpg" alt="" width="100%">
        <div id="pointer" title="Photobooth" (click)="showPhotobooth()">
          <div class="pulsating-circle"></div>
        </div>
        <!-- <div id="pointer" title="Photobooth" (click)="showPhotobooth()">
          <div class="pulsating-circle"></div>
        </div>
        <div id="pointer" title="Photobooth" (click)="showPhotobooth()">
          <div class="pulsating-circle"></div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- photoboothModal -->
  <!-- <div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div id="closePopup" (click)="closePhotobooth()">&times;</div>
        
        <div class="modal-body">
          <section id="section">
            <div id="content-wrap">
              <div id="background">
                <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                  <img id="camImg" src="assets/ipf/images/photobooth/selfie.png" width="100%" alt="">
                  <video #videoStream id="videobgStream" class="vid videoData" autoplay></video>
                  <div id="buttons">
                    <img src="assets/ipf/images/photobooth/click.png" width="12%" (click)="capturePhoto()" alt="">
                  </div>
                </div>
                <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                  <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                  <div id="buttons">
                    <a href="{{img}}" download="screenshot.png">
                      <img src="assets/ipf/images/photobooth/down.png" width="12%" (click)="downloadPic()" alt="">
                    </a>
                    <img src="assets/ipf/images/photobooth/re.png" width="12%" (click)="reload()" alt="">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="modal fade window" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="modal-header">
                  <h4 class="modal-title text-white" id="Window">Choose your frame</h4>
                  <button type="button" class="close" (click)="closeWindow()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
                    <!-- <iframe [src]="mainURL" frameborder="0" width="100%" height="540px"></iframe> -->
                    <div id="pointer2" title="Photobooth">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div id="pointer3" title="Photobooth">
                      <div class="pulsating-circle"></div>
                    </div>
                    <img src="assets/img/window.jpg" width="100%" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>