#pointer_1,#pointer_2,#pointer_3,#pointer_4,#pointer_5,#pointer_6,#pointer_7,#pointer_8{
    position: absolute;
    width: 7%;
    height: 7%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_1{
    top: 47%;
    left: 32.5%;
}
#pointer_2{
    top: 58%;
    left: 46.5%;
}
#pointer_3{
    top: 47%;
    right: 33%;
}
#pointer_4{
    top: 58%;
    left: 9%;
}
#pointer_5{
    top: 59%;
    left: 28.8%;
}
#pointer_6{
    bottom: 15%;
    left: 47%;
}
#pointer_7{
  top: 59%;
  right: 30.2%;
}
#pointer_8{
    top: 58%;
    right: 9.5%;
}
#onloadPlayer{
    position: absolute;
    width: 17.2%;
    top: 39.85%;
    left: 41.25%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

// #background{
//     top: -30px;
// }
// @media (min-aspect-ratio: 16/9) {
//     #lobbyBgVideo{
//       width: 100%;
//       height: auto;
//     }
//   }
  @media (max-aspect-ratio: 16/9) {
    // #lobbyBgVideo {
    //   width: auto;
    //   height: 100%;
    // }
    #background{
        top: 0px;
    }
    #onloadPlayer{
      top: calc(39.35% + 1px);
    }
  }
//   capturePhoto

#wholeCam{
    #camImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #videobgStream2{
        width: 100%;
    }
    
  }
  #buttons{
    text-align: center;
    justify-content: center;
    width: 100%;
    img{
        padding: 15px;
        cursor: pointer;
    }
  }
  .modal-content{
    border: 3px solid crimson;
    border-radius: 0px;
    .modal-header{
      border-radius: 0;
      margin-top: 10px;
      background: crimson;
      .close{
        color: white;
        opacity: 1;
        outline: none;
      }
    }
  }
  
  #closePopup{
    position: absolute;
    top: -16px;
    right: -16px;
    line-height: 35px;
  font-size: 38px;
    background: #e40e38;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    font-weight: 500;
    z-index: 1000;
    cursor: pointer;
  }