<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img id="bgImg" src="assets/ipf/images/lobby2.jpg" alt="">
            <!-- <div id="videobackground">
                <video id="lobbyBgVideo" width="100%" muted preload="auto" playsinline autoplay loop>
                    <source src="../../../assets/ipf/animations/IPAARENA_v05.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="onloadPlayer">
                <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay controls loop>
                    <source src="../../../assets/ipf/videos/centerPlayer.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 
            </div> -->
            <ng-container *ngFor="let x of pages">
                <a id="pointer_{{x.id}}" routerLink="/{{x.path}}" (click)="stepup(x.analytics)">
                    <div class="pulsating-circle"></div>
                </a>
            </ng-container>
            <div *ngIf="speaker==='speaker'">
                <a href="https://us02web.zoom.us/j/85421532100?pwd=SnRDaUE2M1cwdXcrbzA0ZFBTNHc2QT09" target="_blank" id="pointer_3" (click)="stepup('click_mediaroom')">
                    <div class="pulsating-circle"></div>
                </a>                
            </div>
            <ng-container *ngFor="let x of popups">
                <a id="pointer_{{x.id}}" data-toggle="modal" attr.data-target="#{{x.datatarget}}" (click)="stepup(x.analytics)">
                    <div class="pulsating-circle"></div>
                </a>
            </ng-container>
            <ng-container *ngFor="let x of function">
                <a id="pointer_{{x.id}}" (click)="stepup(x.analytics);showPhotobooth()">
                    <div class="pulsating-circle"></div>
                </a>
            </ng-container>
        </div>
    </div>
</section>
<div class="modal fade" id="photoboothModal2" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div id="closePopup" (click)="closePhotobooth()">&times;</div>
        <!-- <div class="modal-header">
          <h4 class="modal-title text-white" id="photoboothModalLabel">Photobooth</h4>
          <button type="button" class="close" (click)="closePhotobooth()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body">
          <section id="section">
            <div id="content-wrap">
              <div id="background">
                <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                  <img id="camImg" src="assets/ipf/images/photobooth/selfie.png" width="100%" alt="">
                  <video #videoStream id="videobgStream2" class="vid videoData" autoplay></video>
                  <div id="buttons">
                    <img src="assets/ipf/images/photobooth/click.png" width="12%" (click)="capturePhoto2()" alt="">
                  </div>
                </div>
                <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                  <canvas #canvas id="canvas2" class="videobgStream2" style="width: 100%;"></canvas>
                  <div id="buttons">
                    <a href="{{img}}" download="screenshot.png">
                      <img src="assets/ipf/images/photobooth/down.png" width="12%" (click)="downloadPic()" alt="">
                    </a>
                    <img src="assets/ipf/images/photobooth/re.png" width="12%" (click)="reload()" alt="">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>