::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins" !important;
  color: #000000;
}
.registration {
  background-image: url(../../assets/ipf/images/background.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.main_container {
  width: 50%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main_container .logo {
  width: 35%;
  margin: auto;
  padding-top: 5vh;
  text-align: center;
}
.main_container .logo .btn {
  background: rgb(0, 136, 148);
  background: linear-gradient(
    90deg,
    rgba(0, 136, 148, 1) 0%,
    rgba(0, 66, 128, 1) 25%,
    rgba(0, 66, 128, 1) 75%,
    rgba(0, 136, 148, 1) 100%
  );
  color: white;
  letter-spacing: 1.5px;
  border-radius: 25px;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  padding: .375rem .75rem;
}
.main_container .reg_form .btn {
  background: rgb(0, 136, 148);
  background: linear-gradient(
    90deg,
    rgba(0, 136, 148, 1) 0%,
    rgba(0, 66, 128, 1) 25%,
    rgba(0, 66, 128, 1) 75%,
    rgba(0, 136, 148, 1) 100%
  );
  color: white;
  letter-spacing: 1.5px;
  border-radius: 25px;
  padding: .375rem .75rem;
}
.main_container .reg_form .form-group {
  margin-bottom: 0.75rem;
}
.main_container .reg_form .form-group label {
  color: #007aaa;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 2px;
}
.main_container .reg_form .form-group label .red {
  color: red;
  font-size: 15px;
}
.red{
  color:red;
  font-size: 15px;
}
.main_container .reg_form .form-group .form-control {
  background: #ececec;
  border: 0;
  border-radius: 7px;
  font-size: 12px;
}
.main_container .reg_form .workshop {
  text-align: center;
  width: 75%;
  margin: auto;
}
.main_container .reg_form .workshop p {
  color: #007aaa;
  font-weight: 700;
  margin: 0.5rem 0rem;
}
.main_container .reg_form .workshop .textarea {
  border: 3px solid #007aaa;
  border-radius: 20px;
  background: white;
  padding: 10px;
}
.main_container .thank_you {
  text-align: center;
  color: #005f86;
  padding-top: 5rem;
}
.registration .reg_form .col-6{
  padding: 0px 15px !important;
}
@media (max-width: 767px) {
  .registration {
    background-image: url(../../assets/ipf/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: fit-content;
  }
  .main_container {
    width: 55%;
  }
  .main_container .logo .btn {
    font-size: 10px;
  }
  .main_container .reg_form .form-group label {
    font-size: 8px;
  }
  .main_container .reg_form .form-group .form-control {
    font-size: 8px;
  }
  .main_container .reg_form .form-group {
    margin-bottom: 0px;
  }
  .main_container .reg_form .workshop p {
    font-size: 8px;
  }
  .main_container .reg_form .btn {
    font-size: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .main_container .thank_you {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .registration {
    background-image: url(../../assets/ipf/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: fit-content;
  }
  .main_container {
    width: 55%;
  }
  .main_container .logo .btn {
    font-size: 10px;
  }
  .main_container .reg_form .form-group label {
    font-size: 8px;
  }
  .main_container .reg_form .form-group .form-control {
    font-size: 8px;
  }
  .main_container .reg_form .form-group {
    margin-bottom: 0px;
  }
  .main_container .reg_form .workshop p {
    font-size: 8px;
  }
  .main_container .reg_form .btn {
    font-size: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .main_container .thank_you {
    padding-top: 1.5rem;
  }
}
/* portrait */
.portrait-content {
  display: none;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 64rem) and (orientation: portrait) {
  .portrait-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    height: 100vh;
    z-index: 99999999;
  }

  .portrait-center {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 auto;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }

  .portrait-center img {
    margin: 0 auto 10px;
    width: 200px;
    text-align: center;
  }

  .portrait-center p {
    font-size: 18px;
    color: #000;
    font-family: var(--head-font);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
}
 .form-group input{
  padding-left: 5px;
} 


/* background-image: url(../../assets/images/background.jpg); */