<body class="registration">   
    <div class="portrait-content">
        <div class="portrait-center">
            <img src="assets/images/rotate.gif" alt="" />
            <p>Please Rotate your device</p>
        </div>
    </div>
    <div class="main_container">
        <div class="logo">
            <img src="assets/ipf/images/Logo.png" class="img-fluid" alt="">
            <button style="cursor:auto;" class="btn">REGISTRATION</button>
        </div>
        <div class="reg_form" style="color:red">
            <div>{{this.msg}}</div>
            
            <form [formGroup]="signupForm" (ngSubmit)="register()"#formDir="ngForm" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">NAME OF APPLICANT : <span class="red">*</span></label>
                            <input type="text"  class="form-control"formControlName="name" id="name" >
                            <!-- <div class="invalid-feedback" style="font-size: 10px;color:red">
                                Name Is Required*
                                </div> -->
                                <div style="color: red;font-size:10px;" *ngIf="(signupForm.get('name').invalid && formDir.submitted) || (signupForm.get('name').dirty && signupForm.get('name').invalid)">
                                    <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                    Name Is Required*
                                </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="company">NAME OF COMPANY : <span class="red">*</span></label>
                            <input type="text"  class="form-control"formControlName="company" id="company"required>
                            <div style="color: red;font-size:10px;" *ngIf="(signupForm.get('company').invalid && formDir.submitted) || (signupForm.get('company').dirty && signupForm.get('company').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Company Name Is Required*
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="designation">DESIGNATION : <span class="red">*</span></label>
                            <input type="text" formControlName="designation" class="form-control" id="designation"required>
                            <div style="color: red;font-size:10px;" *ngIf="(signupForm.get('designation').invalid && formDir.submitted) || (signupForm.get('designation').dirty && signupForm.get('designation').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Designation Is Required*
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="number">CONTACT NUMBER : <i>(optional)</i></label>
                            <input type="number" formControlName="mobile" class="form-control" id="number">
                            <!-- <div  style="font-size: 10px;color:red"*ngIf="(signupForm.get('mobile').invalid && formDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                              Contact Number Is Required * 
                                </div> -->
                               
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="department">DEPARTMENT / FUNCTION : <span class="red">*</span></label>
                            <input type="text" formControlName="category" class="form-control" id="department"required>
                            <div style="color: red;font-size:10px;" *ngIf="(signupForm.get('category').invalid && formDir.submitted) || (signupForm.get('category').dirty && signupForm.get('category').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                Department Is Required*
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">EMAIL ID : <span class="red">*</span></label>
                            <input type="email"  formControlName="email"class="form-control" id="email"required>
                            <!-- <div style="font-size: 10px;color:red" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                Email ID Is Required*
                                </div> -->
                                <div style="color: red;font-size:10px;" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                    <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->
                                    Email is required*
                                </div> 
                                
                                
                        </div>
                    </div>
                    <div class="workshop">
                        <p class="text-center small">WHAT ARE YOUR EXPECTATIONS FROM THE WORKSHOP?<span class="red">*</span></p>
                        <div class="form-group">
                            <textarea formControlName="type"class="form-control textarea font-italic" id="textarea1" maxlength="140" rows="3"
                                placeholder="140 CHARACTERS......."required></textarea>
                                <div style="color: red;font-size:10px;" *ngIf="(signupForm.get('type').invalid && formDir.submitted) || (signupForm.get('type').dirty && signupForm.get('type').invalid)">
                                    <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">* name required</div> -->
                                    Above Field Is Required*
                                </div>
                                
                        </div>
                        <div class="text-center w-100">
                            <button type="submit" class="btn">REGISTER NOW</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        
    </div>


</body>