<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img id="bgImg" src="../../../assets/ipf/images/lounge.jpg" style="height: 100vh;" alt="">
            <ng-container *ngFor="let x of [1,2,3,4,5,6]">
                <div id="topic_{{x}}" routerLink="/lounge/chat/{{x}}">

                </div>
            </ng-container>
        </div>
    </div>
</section>
<router-outlet></router-outlet>