.forward a {
    z-index: 999;
    color: #ffffff !important;
    background: rgb(0, 133, 145);
    background: linear-gradient(
      90deg,
      rgba(0, 133, 145, 1) 0%,
      rgba(0, 56, 116, 1) 50%,
      rgba(0, 133, 145, 1) 100%
    );
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 14px;
    text-decoration: none !important;
  }
  .forward {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 4%;
    top: auto;
    left: auto;
    right: auto;
  }

  section{
    position: relative;
    width: 100%;
    height: 100%;
    #content{
      position: relative;
      width: 100%;
      height: 100%;
      #bg{
        img{
          width: 100%;
          height: 100vh;
        }
      }
    }
  }
  @media only screen and(max-width: 768px){
    .forward {
      bottom: 2% !important;
      a {
        padding: 5px 7px !important;
        border-radius: 5px !important;
        font-size: 11px !important;
      }
    }
  }