/* You can add global styles to this file, and also import other style files */
@import './app/shared/custom-style/custom.component.scss';
@font-face {
  font-family: "Fontfabric-UniNeueBold";
  src: url(./assets/font/Fontfabric-UniNeueBold.otf);
}
@font-face {
  font-family: "Fontfabric-UniNeueRegular";
  src: url(./assets/font/Fontfabric-UniNeueRegular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    // font-family: Fontfabric-UniNeueBold !important; 
    font-size: 14px !important;
    // overflow: hidden;
    font-family: 'Poppins', sans-serif !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
#section{
  position: relative;
  overflow:auto;
  width: 100%;
  height: 100%;
  #content-wrap{
    position: relative;
    #background{
      position: relative;
      width: 100%;
      height: 100%;
      #bgImg{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.modal-content{
  border: 2px solid #1b5c88e0;
  border-radius: 25px;
  .modal-header{
    border-radius: 0;
    margin-top: 32px;
    background: #1b5c88e0;
    .close{
      color: white;
      opacity: 1;
      outline: none;
    }
  }
}